extends layout 

block content 
  header 
    h1= 'Mini Message Board'
    p= 'What is on your mind, friend?'
  main
    section.form-container 
      form(method='POST' action='/new')
        input(type='text', placeholder='Title' name='title' id='title')
        textarea(name='description' placeholder='Speak your mind..' cols='30' )
        input(type='text' placeholder='Name' name='username' id='username')
        button(type='submit' id='submit-btn')= 'Post'